prozesspilot/n8n/workflows/WF-INPUT-WHATSAPP_clean.json
{"name": "WF-INPUT-WHATSAPP", "settings": {"executionOrder": "v1", "saveExecutionProgress": true, "saveManualExecutions": true, "saveDataErrorExecution": "all", "saveDataSuccessExecution": "all", "callerPolicy": "workflowsFromSameOwner"}, "nodes": [{"parameters": {"httpMethod": "POST", "path": "wa", "responseMode": "responseNode", "options": {"rawBody": true, "ignoreBots": false}}, "id": "n1-trigger-meta-webhook", "name": "Trigger: Meta Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 300], "webhookId": "wa-input-webhook"}, {"parameters": {"method": "POST", "url": "={{$env.BACKEND_URL}}/api/v1/internal/whatsapp/verify", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}, {"name": "idempotency-key", "value": "=verify_{{$json.body && $json.body.entry && $json.body.entry[0].changes[0].value.messages ? $json.body.entry[0].changes[0].value.messages[0].id : $randomString()}}"}, {"name": "x-pp-timestamp", "value": "={{Math.floor(Date.now()/1000)}}"}, {"name": "x-pp-signature", "value": "={{$env.PP_BACKEND_SHARED_SIG || ''}}"}, {"name": "x-trace-id", "value": "={{$json.headers && $json.headers['x-trace-id'] || ''}}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"raw_body_b64\": \"{{ Buffer.from(JSON.stringify($json.body || {})).toString('base64') }}\",\n  \"signature\":    \"{{$json.headers && $json.headers['x-hub-signature-256'] || ''}}\"\n}", "options": {"redirect": {"redirect": {}}, "response": {"response": {"neverError": true, "responseFormat": "json"}}, "retry": {"retry": {"maxRetries": 3, "waitBetweenRetries": 1500, "retryOnStatusCode": "500,502,503,504"}}}}, "id": "n2-verify-signature", "name": "Verify: Signature", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [680, 300], "alwaysOutputData": true, "continueOnFail": false, "notesInFlow": true, "notes": "Backend pr\u00fcft HMAC-SHA256(WHATSAPP_APP_SECRET) gegen X-Hub-Signature-256."}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "typeValidation": "loose"}, "conditions": [{"id": "sig-ok", "leftValue": "={{$json.ok}}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}], "combinator": "and"}, "options": {}}, "id": "n3-if-signature-valid", "name": "IF: signature valid", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [900, 300]}, {"parameters": {"language": "javaScript", "jsCode": "// M10 \u00a76 Schritt 4 + 'HMAC-Signatur: Code-Node ... setzt X-PP-Signature und X-PP-Timestamp'.\n// Extrahiert Felder aus dem Meta-Webhook-Payload UND berechnet HMAC-Signaturen\n// f\u00fcr jeden bekannten Backend-Call (verify/resolve/send-template-hint/send-template-conf).\n// Calls deren Body von sp\u00e4teren Antworten abh\u00e4ngt (media, raw-payload, run-master,\n// send-template-conf) m\u00fcssen entweder im n8n-Container mit PP_AUTH_DISABLED=1 laufen\n// oder vor jedem HTTP-Node einen eigenen 'Sign Request'-Code-Node bekommen.\n// Siehe README \u00a7HMAC-Pattern.\nconst crypto = require('crypto');\n\nconst webhook = $('Trigger: Meta Webhook').first();\nconst body    = webhook.json.body ?? webhook.json;\nconst entry    = (body.entry || [])[0]     || {};\nconst change   = (entry.changes || [])[0]  || {};\nconst value    = change.value              || {};\nconst metadata = value.metadata            || {};\nconst contact  = (value.contacts || [])[0] || {};\nconst message  = (value.messages || [])[0] || {};\n\nconst secret = $env.PP_HMAC_SECRET || '';\nconst nowSec = Math.floor(Date.now() / 1000).toString();\nconst traceId = (webhook.json.headers || {})['x-trace-id'] || ('trc_' + Math.random().toString(36).slice(2, 12));\n\n// Body f\u00fcrs /verify festhalten \u2014 Meta-RawBody als Base64.\nconst rawBodyStr = typeof webhook.json.body === 'object' ? JSON.stringify(webhook.json.body) : String(webhook.json.body || '');\nconst rawBodyB64 = Buffer.from(rawBodyStr, 'utf-8').toString('base64');\nconst metaSignatureHeader = (webhook.json.headers || {})['x-hub-signature-256'] || '';\n\nfunction sha256Hex(s) { return crypto.createHash('sha256').update(s, 'utf-8').digest('hex'); }\nfunction sign(method, path, ts, bodyStr) {\n  const canonical = [method.toUpperCase(), path, ts, sha256Hex(bodyStr)].join('\\n');\n  return crypto.createHmac('sha256', secret).update(canonical).digest('hex');\n}\n\n// Fertige Bodies f\u00fcr die Calls, deren Inhalt jetzt schon feststeht:\nconst verifyBody  = JSON.stringify({ raw_body_b64: rawBodyB64, signature: metaSignatureHeader });\nconst resolveBody = JSON.stringify({ phone_number_id: metadata.phone_number_id, from: message.from });\n\nreturn [{\n  json: {\n    phone_number_id: metadata.phone_number_id,\n    display_phone:   metadata.display_phone_number,\n    from:            message.from,\n    wa_id:           contact.wa_id,\n    display_name:    (contact.profile && contact.profile.name) || null,\n    external_id:     message.id,\n    timestamp:       message.timestamp,\n    type:            message.type,\n    media_id:        (message.image && message.image.id) || (message.document && message.document.id) || null,\n    mime_type:       (message.image && message.image.mime_type) || (message.document && message.document.mime_type) || null,\n    caption:         (message.image && message.image.caption) || (message.document && message.document.caption) || null,\n    text:            (message.text  && message.text.body)      || null,\n    raw_payload:     body,\n    __traceId:       traceId,\n    __hmacTs:        nowSec,\n    __metaSignature: metaSignatureHeader,\n    __rawBodyB64:    rawBodyB64,\n    __verifyBody:    verifyBody,\n    __verifySig:     sign('POST', '/api/v1/internal/whatsapp/verify',  nowSec, verifyBody),\n    __resolveBody:   resolveBody,\n    __resolveSig:    sign('POST', '/api/v1/internal/whatsapp/resolve', nowSec, resolveBody)\n  }\n}];"}, "id": "n4-extract-message", "name": "Function: Extract Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 200]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "typeValidation": "loose"}, "conditions": [{"id": "is-image", "leftValue": "={{$json.type}}", "rightValue": "image", "operator": {"type": "string", "operation": "equals"}}, {"id": "is-document", "leftValue": "={{$json.type}}", "rightValue": "document", "operator": {"type": "string", "operation": "equals"}}], "combinator": "or"}, "options": {}}, "id": "n5-if-type-image-or-document", "name": "IF: type is image|document", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1340, 200]}, {"parameters": {"method": "POST", "url": "={{$env.BACKEND_URL}}/api/v1/internal/whatsapp/resolve", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}, {"name": "idempotency-key", "value": "={{$json.external_id}}"}, {"name": "x-pp-timestamp", "value": "={{$json.__hmacTs}}"}, {"name": "x-pp-signature", "value": "={{$json.__resolveSig}}"}, {"name": "x-trace-id", "value": "={{$json.__traceId}}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"phone_number_id\": \"{{$json.phone_number_id}}\",\n  \"from\":            \"{{$json.from}}\"\n}", "options": {"response": {"response": {"neverError": true, "responseFormat": "json"}}, "retry": {"retry": {"maxRetries": 3, "waitBetweenRetries": 1500, "retryOnStatusCode": "500,502,503,504"}}}}, "id": "n6-resolve-customer", "name": "Resolve: Customer", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1560, 100], "notesInFlow": true, "notes": "Resolve phone_number_id+from \u2192 customer_id (M10 \u00a77.2). 3\u00d7 Retry bei 5xx, 4xx terminiert sofort."}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "typeValidation": "loose"}, "conditions": [{"id": "allowed", "leftValue": "={{$json.data && $json.data.allowed}}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}], "combinator": "and"}, "options": {}}, "id": "n7-if-allowed", "name": "IF: allowed===true", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1780, 100]}, {"parameters": {"method": "POST", "url": "={{$env.BACKEND_URL}}/api/v1/internal/whatsapp/media", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}, {"name": "idempotency-key", "value": "={{$('Function: Extract Message').item.json.external_id}}"}, {"name": "x-pp-timestamp", "value": "={{$('Function: Extract Message').item.json.__hmacTs}}"}, {"name": "x-pp-signature", "value": "={{$env.PP_AUTH_DISABLED === '1' ? '' : 'TODO_PER_CALL_SIGNATURE'}}"}, {"name": "x-trace-id", "value": "={{$('Function: Extract Message').item.json.__traceId}}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"media_id\":    \"{{$('Function: Extract Message').item.json.media_id}}\",\n  \"customer_id\": \"{{$json.data.customer_id}}\",\n  \"trace_id\":   \"{{$('Function: Extract Message').item.json.__traceId}}\"\n}", "options": {"timeout": 60000, "response": {"response": {"neverError": false, "responseFormat": "json"}}, "retry": {"retry": {"maxRetries": 3, "waitBetweenRetries": 5000, "retryOnStatusCode": "500,502,503,504"}}}}, "id": "n8-download-media", "name": "Download: Media", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2000, 100], "notesInFlow": true, "notes": "Backend zieht Bytes von Meta + l\u00e4dt nach MinIO. Idempotenz via sha256."}, {"parameters": {"method": "POST", "url": "={{$env.BACKEND_URL}}/api/v1/internal/storage/raw-payload", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}, {"name": "idempotency-key", "value": "={{$('Function: Extract Message').item.json.external_id}}"}, {"name": "x-pp-timestamp", "value": "={{$('Function: Extract Message').item.json.__hmacTs}}"}, {"name": "x-pp-signature", "value": "={{$env.PP_AUTH_DISABLED === '1' ? '' : 'TODO_PER_CALL_SIGNATURE'}}"}, {"name": "x-trace-id", "value": "={{$('Function: Extract Message').item.json.__traceId}}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"customer_id\":  \"{{$('Resolve: Customer').item.json.data.customer_id}}\",\n  \"channel\":      \"whatsapp\",\n  \"external_id\":  \"{{$('Function: Extract Message').item.json.external_id}}\",\n  \"payload\":      {{JSON.stringify($('Function: Extract Message').item.json.raw_payload)}}\n}", "options": {"response": {"response": {"neverError": true, "responseFormat": "json"}}, "retry": {"retry": {"maxRetries": 3, "waitBetweenRetries": 2000, "retryOnStatusCode": "500,502,503,504"}}}}, "id": "n9-persist-raw-payload", "name": "Persist: Raw Payload", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2220, 100]}, {"parameters": {"mode": "raw", "jsonOutput": "={\n  \"trace_id\":   \"{{$('Function: Extract Message').item.json.__traceId}}\",\n  \"customer_id\": \"{{$('Resolve: Customer').item.json.data.customer_id}}\",\n  \"source\": {\n    \"channel\":         \"whatsapp\",\n    \"received_at\":     \"{{new Date(parseInt($('Function: Extract Message').item.json.timestamp || (Date.now()/1000)) * 1000).toISOString()}}\",\n    \"external_id\":     \"{{$('Function: Extract Message').item.json.external_id}}\",\n    \"sender\": {\n      \"type\":         \"phone\",\n      \"value\":        \"+{{$('Function: Extract Message').item.json.from}}\",\n      \"display_name\": \"{{$('Function: Extract Message').item.json.display_name}}\"\n    },\n    \"raw_payload_ref\": \"{{$('Persist: Raw Payload').item.json.data && $('Persist: Raw Payload').item.json.data.raw_payload_ref}}\"\n  },\n  \"file\": {\n    \"object_key\": \"{{$('Download: Media').item.json.data.object_key}}\",\n    \"mime_type\":  \"{{$('Download: Media').item.json.data.mime_type}}\",\n    \"size_bytes\": {{$('Download: Media').item.json.data.size_bytes}},\n    \"sha256\":     \"{{$('Download: Media').item.json.data.sha256}}\"\n  },\n  \"user_caption\":  \"{{$('Function: Extract Message').item.json.caption}}\",\n  \"is_duplicate\":  {{$('Download: Media').item.json.data.is_duplicate}}\n}", "options": {}}, "id": "n10-build-pipeline-input", "name": "Build: Pipeline Input", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [2440, 100]}, {"parameters": {"source": "database", "workflowId": {"__rl": true, "value": "WF-MASTER-RECEIPT", "mode": "list"}, "mode": "each", "options": {"waitForSubWorkflow": false}}, "id": "n11-run-master-receipt", "name": "Run: WF-MASTER-RECEIPT", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [2660, 100], "continueOnFail": true, "executeOnce": false, "notesInFlow": true, "notes": "Fire-and-forget: waitForSubWorkflow:false, continueOnFail:true. Antwort an Meta < 5s."}, {"parameters": {"method": "POST", "url": "={{$env.BACKEND_URL}}/api/v1/internal/whatsapp/send-template", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}, {"name": "idempotency-key", "value": "=cnf_{{$('Function: Extract Message').item.json.external_id}}"}, {"name": "x-pp-timestamp", "value": "={{$('Function: Extract Message').item.json.__hmacTs}}"}, {"name": "x-pp-signature", "value": "={{$env.PP_AUTH_DISABLED === '1' ? '' : 'TODO_PER_CALL_SIGNATURE'}}"}, {"name": "x-trace-id", "value": "={{$('Function: Extract Message').item.json.__traceId}}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"customer_id\":   \"{{$('Resolve: Customer').item.json.data.customer_id}}\",\n  \"to\":            \"+{{$('Function: Extract Message').item.json.from}}\",\n  \"template_name\": \"confirmation_received_de\",\n  \"language\":      \"de\"\n}", "options": {"response": {"response": {"neverError": true, "responseFormat": "json"}}, "retry": {"retry": {"maxRetries": 3, "waitBetweenRetries": 2000, "retryOnStatusCode": "500,502,503,504"}}}}, "id": "n12-send-confirmation", "name": "Send: Confirmation Message", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2880, 100]}, {"parameters": {"respondWith": "json", "responseBody": "={\n  \"ok\": true,\n  \"trace_id\": \"{{$('Function: Extract Message').item.json.__traceId}}\"\n}", "options": {"responseCode": 200}}, "id": "n13-respond-200", "name": "Respond: 200", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [3100, 100]}, {"parameters": {"method": "POST", "url": "={{$env.BACKEND_URL}}/api/v1/internal/whatsapp/send-template", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}, {"name": "idempotency-key", "value": "=hint_{{$('Function: Extract Message').item.json.external_id}}"}, {"name": "x-pp-timestamp", "value": "={{$('Function: Extract Message').item.json.__hmacTs}}"}, {"name": "x-pp-signature", "value": "={{$env.PP_AUTH_DISABLED === '1' ? '' : 'TODO_PER_CALL_SIGNATURE'}}"}, {"name": "x-trace-id", "value": "={{$('Function: Extract Message').item.json.__traceId}}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"customer_id\":   \"{{ ($('Resolve: Customer').item && $('Resolve: Customer').item.json.data && $('Resolve: Customer').item.json.data.customer_id) || 'cust_unknown' }}\",\n  \"to\":            \"+{{$('Function: Extract Message').item.json.from}}\",\n  \"template_name\": \"sender_not_registered\",\n  \"language\":      \"de\"\n}", "options": {"response": {"response": {"neverError": true, "responseFormat": "json"}}, "retry": {"retry": {"maxRetries": 3, "waitBetweenRetries": 2000, "retryOnStatusCode": "500,502,503,504"}}}}, "id": "n14-send-helper-message", "name": "Send: Helper Message", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2000, 500], "notesInFlow": true, "notes": "Hint-Branch: bei type='text' oder allowed===false. Danach Respond: 200."}, {"parameters": {"respondWith": "json", "responseBody": "={\n  \"ok\": false,\n  \"error\": { \"code\": \"INVALID_SIGNATURE\" }\n}", "options": {"responseCode": 401}}, "id": "nx-respond-401-invalid-sig", "name": "Respond: 401 (invalid sig)", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1120, 440]}], "connections": {"Trigger: Meta Webhook": {"main": [[{"node": "Function: Extract Message", "type": "main", "index": 0}]]}, "_disabled_Verify: Signature": {"main": [[{"node": "IF: signature valid", "type": "main", "index": 0}]]}, "_disabled_IF: signature valid": {"main": [[{"node": "Function: Extract Message", "type": "main", "index": 0}], [{"node": "Respond: 401 (invalid sig)", "type": "main", "index": 0}]]}, "Function: Extract Message": {"main": [[{"node": "IF: type is image|document", "type": "main", "index": 0}]]}, "IF: type is image|document": {"main": [[{"node": "Resolve: Customer", "type": "main", "index": 0}], [{"node": "Send: Helper Message", "type": "main", "index": 0}]]}, "Resolve: Customer": {"main": [[{"node": "IF: allowed===true", "type": "main", "index": 0}]]}, "IF: allowed===true": {"main": [[{"node": "Download: Media", "type": "main", "index": 0}], [{"node": "Send: Helper Message", "type": "main", "index": 0}]]}, "Download: Media": {"main": [[{"node": "Persist: Raw Payload", "type": "main", "index": 0}]]}, "Persist: Raw Payload": {"main": [[{"node": "Build: Pipeline Input", "type": "main", "index": 0}]]}, "Build: Pipeline Input": {"main": [[{"node": "Run: WF-MASTER-RECEIPT", "type": "main", "index": 0}]]}, "Run: WF-MASTER-RECEIPT": {"main": [[{"node": "Send: Confirmation Message", "type": "main", "index": 0}]]}, "Send: Confirmation Message": {"main": [[{"node": "Respond: 200", "type": "main", "index": 0}]]}, "Send: Helper Message": {"main": [[{"node": "Respond: 200", "type": "main", "index": 0}]]}}, "pinData": {}}